/* start global ruls */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls */

/* -------------------------- */

/* start cards */

/* ---------------- */

.up-background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(266deg, #000000c4, transparent),
    url(./coffebeans2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
}
.up-background h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  font-size: 3rem;
  letter-spacing: 8px;
}

.up-background .container {
  width: 100%;
  height: 100vh;
  background: white;
  position: absolute;
  top: 300px;
  border-radius: 60px 60px 0px 0px;
}
.up-background .coffes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.up-background .coffes h3 {
  font-size: 50px;
  font-family: fantasy;
  letter-spacing: 30px;
  color: #000000eb;
}

.up-background .coffes img {
  height: 150px;
}

@media (max-width: 475px) {
  .up-background .coffes h3 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  .up-background .coffes img {
    height: 100px;
  }
}

/* ------ */
/* start cards */
.prod-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  padding: 0;
  margin-top: 10px;
  height: auto;
  border-bottom: 1px solid white;
  border-radius: 0 0 40px 40px;
  box-shadow: 7px 22px 17px -22px black;
}
.prod-card img {
  height: 220px;
}

.prod-card p {
  font-size: 30px;
  font-family: monospace;
}

.prod-card span {
  font-size: 21px;
  font-family: monospace;
}

@media (max-width: 475px) {
  .prod-card img {
    height: 190px;
  }

  .prod-card p {
    font-size: 20px;
  }

  .prod-card span {
    font-size: 15px;
  }
}
/* end cards */
